streamlit==1.22.0
pandas==1.4.1
matplotlib==3.5.1
seaborn==0.11.2
numpy==1.22.0
tensorflow-cpu==2.10.1
xgboost==1.5.1
plotly.express==0.4.1
pandas_profiling==3.6.6
streamlit_pandas_profiling==0.1.3
joblib ==1.2.0